
#app {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 50%;
    background-color: aqua;
}

#box {
    background-color: deeppink;
    width: 100px;
    height: 100px;
}

.place {
    display: inline-block;
    transform: translateX(20px); /* Optional: slight slide effect */
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.place.occupied {
    opacity: 1;           /* Fade in to fully visible */
    transform: translateX(0); /* Return to original position */
}