#app {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: large;
}

.statistics-checkbox {
    display: none;
}

#statistics {
    background-color: lightgreen;
    width: 200px;
    float: left;
    font-size: small;
    user-select: none;
}

#simulation {
    display: inline-block;
    position: relative;
    width: 500px;
    height: 600px;
    background-color: lightcyan;
}

h2 {
    font-family: sans-serif;
    font-size: 16px;
}

.subtle-border {
    padding: 2px;
    margin: 0;
    border: 1px solid lightgray;
}

.client {
    padding: 10px;
    border: 3px solid black ;
    border-radius: 25%;
}

.Chair-0 {
    background-color: blueviolet;
    color: white;
    position: absolute;
    left: 150px;
    top: 50px;
    transition: all 1.0s ease;
}

.Chair-1 {
    background-color: blueviolet;
    color: white;
    position: absolute;
    left: 150px;
    top: 100px;
    transition: all 1.0s ease;
}

.Seat-0 {
    background-color: lightcoral;
    position: absolute;
    left: 350px;
    top: 50px;
    transition: all 1.0s ease;
}

.Seat-1 {
    background-color: lightcoral;
    position: absolute;
    left: 350px;
    top: 100px;
    transition: all 1.0s ease;
}
