
#app {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 50%;
    background-color: aqua;
}

.p1 {
    position: absolute;
    top: 50px;
    left: 50px;
    transition: all 1.0s ease;
}
.p2 {
    position: absolute;
    top: 150px;
    left: 50px;
    transition: all 1.0s ease;
}

.Chair-0 {
    background-color: darkred;
    color: white;
    position: absolute;
    left: 150px;
    top: 50px;
    transition: all 1.0s ease;
}
.Chair-1 {
    background-color: darkred;
    color: white;
    position: absolute;
    left: 150px;
    top: 100px;
    transition: all 1.0s ease;
}
.Seat-0 {
    background-color: lightslategray;
    position: absolute;
    left: 350px;
    top: 50px;
    transition: all 1.0s ease;
}
.Seat-1 {
    background-color: lightslategray;
    position: absolute;
    left: 350px;
    top: 100px;
    transition: all 1.0s ease;
}
